<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Labs"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivityLab1q1a" />
        <activity android:name=".MainActivityLab1q1b" />
        <activity android:name=".MainActivityLab1q2" />
        <activity android:name=".MainActivityLab1q3" />
        <activity android:name=".MainActivityLab2q1" />
        <activity android:name=".MainActivityLab2q2" />
        <activity android:name=".MainActivityLab2q3" />
        <activity android:name=".MainActivityLab2q3SignUp" />
        <activity android:name=".MainActivityLab3q1" />
        <activity android:name=".MainActivityLab3q2" />
        <activity android:name=".MainActivityLab5q1" />
        <activity android:name=".MainActivityLab5q2" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>